.header {
    background-color: #007bff; /* Blue background color */
    color: #fff; /* White text color */
    padding: 20px;
    text-align: center;
}
  
.header-title {
    font-size: 50px;
}

.header-image {
    width: 35%; /* Set the width of the image to 50% of its parent container */
  height: auto;

}